
###> PHPStorm ###
.idea
###< PHPStorm ###

###> Symfony ###
.env
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< Symfony ###

###> PHPUnit ###
.phpunit.result.cache
/phpunit.xml
###< PHPUnit ###

